beautifulsoup4
requests
numpy
pandas
scikit-learn
langchain-core
langchain-chroma
langchain-community
sentence-transformers
langchain-huggingface
sqlalchemy
psycopg2-binary 
python-dotenv
langchain_google_genai
langchain_groq
langchain_ollama
pydantic
langgraph
fpdf
fastapi
passlib
bcrypt==4.0.1
PyJWT